<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AODA Tests" configfailurepolicy="continue">

    <test verbose="2" name="Chrome-Self-Check">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.mol.Testcases.SearchButtonTests"/>


        </classes>
    </test>

</suite>